.vscode/*
!.vscode/extensions.json
node_modules

# main process
process_main/node_modules

# render process
process_render/**/node_modules

# build
build/.vs
build/node_modules
build/release
build/src
build/renders
